* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: whitneyBold;
    src: url(../font/whitneysemibold.otf);
}

@font-face {
    font-family: whitneyLight;
    src: url(../font/whitneymedium.otf);
}

@font-face {
    font-family: poppinsBold;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppinsLight;
    src: url(../font/Poppins-Light.ttf);
}

body{
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #312b47;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
}

main{
    background-color: #312b47;
    margin-left: 96px;
    padding: 46px 32px;
}

.poppinsBold{
    font-family: poppinsBold;
}

.poppinsLight{
    font-family: poppinsLight;
}

.whitneyBold{
    font-family: whitneyBold;
}

.whitneyLight{
    font-family: whitneyLight;
}

.flex{
    display: flex;
}

.hidden{
    display: none;
}

.index-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 92px;
    background-color: #ccc;
    z-index: 10;
    background-color: #2a253d;
    transition: width 0.2s;
    text-align: center;
    outline: 4px solid #3c3456;

    overflow-y: auto; /* Désactiver le défilement vertical */
}

.index-bar::-webkit-scrollbar {
    width: 0;
}

.index-bar:hover{
    width: 187px;
}

.items-index-bar{
    font-size: 14px;
    border-radius: 5px;
    margin: 8px 8px;
    padding: 7px;
}

.items-index-bar:hover{
    background-color: #352f4e;
}

.first-item-index-bar{
    background-color: #c34312;
    border-radius: 0 0 8px 0;
    height: 80px;
    justify-content: center;
}

.index-bar li {
    display: block;
}

.index-bar a{
    display: block;
    text-decoration: none;
    color: #ECE4D9;
}

.first-item-index-bar img{
    width: 48px;
    margin: 16px;
}

.items-v1{
    max-width: 16px;
}

.items-v2{
    max-width: 14px;
    max-height: 16px;
}

.search-index-bar, .option-index-bar{
    cursor: pointer;
}

footer{
    padding: 16px 16px 16px 112px;
    height: 144px;
    width: 100%;
    background-color: #2A253D;
    color: #ECE4D9;
    font-size: large;
}

footer div:first-of-type{
    font-size: 18px;
    max-width: 593px;
    line-height: 28px;
}

footer img{
    width: 28px;
    filter: grayscale(50%);
    margin: 3px;
}

footer div div{
    flex-wrap: nowrap;
}

footer img:hover{
    filter: grayscale(0%);
}

.border-left-footer{
    border-left: 2px solid #504c60;
}

.footer-items{
    padding: 2px 18px;
}

.footer-items div{
    padding-top: 10px;
}

.link-footer-a{
    text-decoration: none;
    color: #ECE4D9;
}

.link-footer-a:hover{
    color: #7468a3;
}