:root{
    --white: #ECE4D9
}

@font-face {
    font-family: whitneyBold;
    src: url(../font/Whitney-Bold.ttf);
}

@font-face {
    font-family: whitneyLight;
    src: url(../font/whitneymedium.otf);
}

@font-face {
    font-family: poppinsBold;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppinsLight;
    src: url(../font/Poppins-Light.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: auto;
    background-color: #312b47;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background-color: #312b47;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
}

main{
    padding: 40px 32px 56px 128px;
    min-height: 520px;
}

.c5{
    background: linear-gradient(to bottom right, #795236, #c87c24);
}

.c4{
    background: linear-gradient(to bottom right, #604c7e, #936fba);
}

.c3{
    background: linear-gradient(to bottom right, #505575, #5886ac);
}

.c2{
    background: linear-gradient(to bottom right, #455f60, #5a977a);
}

.c1{
    background: linear-gradient(to bottom right, #595766, #808385);
}

.poppinsBold{
    font-family: poppinsBold;
}

.poppinsLight{
    font-family: poppinsLight;
}

.whitneyBold{
    font-family: whitneyBold, sans-serif;
}

.whitneyLight{
    font-family: whitneyLight;
}

.flex{
    display: flex;
}

.hidden{
    display: none;
}

.index-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 92px;
    background-color: #ccc;
    z-index: 10;
    background-color: #2a253d;
    transition: width 0.2s;
    text-align: center;
    outline: 4px solid #3c3456;
    overflow-y: auto;
}

.index-bar::-webkit-scrollbar {
    width: 0;
}

.index-bar:hover{
    width: 187px;
}

.items-index-bar{
    font-size: 14px;
    border-radius: 5px;
    margin: 8px 8px;
    padding: 7px;
}

.items-index-bar:hover{
    background-color: #352f4e;
}

.items-index-bar.active{
    background-color: #352f4e;
}

.first-item-index-bar{
    background-color: #c34312;
    border-radius: 0 0 8px 0;
    height: 80px;
    justify-content: center;
}

.index-bar li {
    display: block;
}

.index-bar a{
    display: block;
    text-decoration: none;
    color: var(--white);
}

.first-item-index-bar img{
    width: 48px;
    margin: 16px;
}

.items-v1{
    max-width: 16px;
}

.items-v2{
    max-width: 14px;
    max-height: 16px;
}

.search-index-bar, .option-index-bar, .ordre, .filtre{
    cursor: pointer;
}

footer{
    padding: 16px 16px 16px 112px;
    height: 144px;
    width: 100%;
    background-color: #2A253D;
    color: var(--white);
    font-size: large;
}

footer div:first-of-type{
    font-size: 18px;
    max-width: 593px;
    line-height: 28px;
}

footer img{
    width: 28px;
    filter: grayscale(50%);
    margin: 3px;
}

footer div div{
    flex-wrap: nowrap;
}

footer img:hover{
    filter: grayscale(0%);
}

.border-left-footer{
    border-left: 2px solid #504c60;
}

.footer-items{
    padding: 2px 18px;
    text-align: center;
}

.footer-items div{
    padding-top: 10px;
}

.link-footer-a{
    text-decoration: none;
    color: var(--white);
}

.link-footer-a:hover{
    color: #7468a3;
}

.contact-footer{
    padding: 0 0 0 43px;
}

.contact-footer img{
    width: 4rem;
    margin-top: 10px;
}

.box-object{
    margin: 0 64px;
}

.box-object h1{
    color: var(--white);
}

.ordre{
    color: #4a5366;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--white);
}

.filtre{
    color: #4a5366;
    width: 212px;
    padding: 8px 0px 8px 25px;
    border-radius: 20px;
    font-size: 20px;
    background-color: var(--white);
}

.filtre img{
    width: 20px;
    height: 17.5px;
    margin-top: 4px;
}

.searchBar input{
    color: white;
    background-color: #473e67;
    border: 2px solid #534978;
    padding: 8px 20px;
    width: 690px;
    border-radius: 16px;
    font-size: 18px;
    font-family: whitneyBold;
}

::placeholder{
    color: white;
}

.box-object-tri div{
    margin-right: 16px;
    margin-top: 16px;
}

.objectList-item{
    margin: 8px;
    border-radius: 10px;
    text-decoration: none;
}

.objectList-item:hover{
    transform: scale(1.1);
    box-shadow: 0 0 2px 4px #e9e5dc;
    transition: box-shadow .2s ease-in-out;
}

.objectList{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.objectList-avatar{
    max-width: 128px;
    max-height: 128px;
    position: absolute;
    border-radius: 10px 10px 30px 0;
    z-index: 2;
}

.objectList-element{
    position: absolute;
    z-index: 3;
    width: 32px;
    margin: 5px;
}

.objectList-card{
    background-color: var(--white);
    width: 128px;
    height: 158px;
    color: #4a5366;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    display: table;
    width: 128px;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.center-name{
    padding: 2px 0;
}

.objectList-card span{
    margin-top: auto;
}

.br-top10{
    height: 10px;
}

.objectName span{
    vertical-align:middle;
    display: table-cell;
}

.objectListItem-star{
    width: 18.34px;
    height: 17.78px;
    filter: drop-shadow(#e3721b 0px 0px 1px);    
}

.starContainer{
    position: absolute;
    z-index: 8;
    margin-top: 91px;
}

.str_20px{
    width: 20px;
}

.star-1{
    margin-left: 54px;
}
.star-2{
    margin-left: 44px;
}
.star-3{
    margin-left: 34px;
}
.star-4{
    margin-left: 24px;
}
.star-5{
    margin-left: 14px;
}

.filter{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid rgba(93,81,135);
    background-color: rgba(49,43,71);
    border-radius: 15px;
    z-index: 12;
    width: 768px;
    height: 394px;
    max-width: 80%;
    color: var(--white);
}

.filter.active{
    transform: translate(-50%,-50%) scale(1);
}

.filter-header{
    padding: 16px;
    background-color: #473e67;
    min-height: 70px;
    border-radius: 14px 14px 0 0;
    font-size: 30px;
    text-align: center;
}

.filterContent{
    overflow: auto;
}

.filter-body{
    min-height: calc(100vh - 15.8rem);
    max-height: calc(100vh - 15.8rem);
    margin: 0 64px;
    padding: 32px 0;
}

.close-button{
    cursor: pointer;
    position: absolute;
    color: rgba(23,20,33);
    border: 4px solid rgba(75,85,99,0.5);
    background-color: var(--white);
    font-weight: bolder;
    border-radius: 50%;
    right: 0.75rem;
    top: 0.75rem;
    width: 44px;
    height: 44px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 11;
}

#overlay.active{
    opacity: 0.8;
    pointer-events: all;
}